In [1]:
import pandas as pd 
import gurobipy as gp 
from gurobipy import GRB
import warnings 

warnings.filterwarnings('ignore')

In [2]:
players = pd.read_csv('players2.csv', header = 0)

In [3]:
players.columns

Index(['Unnamed: 0', 'Name', 'Normalized_WAR', 'off', 'st_pit', 'rl_pit',
       'team', 'salary', 'position', 'Arizona', 'Atlanta', 'Baltimore',
       'Boston', 'Chic. Cubs', 'Chic. White Sox', 'Chicago Cubs', 'Cincinnati',
       'Cleveland', 'Colorado', 'Detroit', 'Houston', 'Kansas City',
       'L.A. Angels', 'L.A. Dodgers', 'Miami', 'Milwaukee', 'Minnesota',
       'N.Y. Mets', 'N.Y. Yankees', 'Oakland', 'Philadelphia', 'Pittsburgh',
       'San Diego', 'San Francisco', 'Seattle', 'St. Louis', 'Tampa Bay',
       'Texas', 'Toronto', 'Washington', '0', '1B', '2B', '3B', 'C', 'CF',
       'DH', 'INF', 'LF', 'OF', 'RF', 'RP', 'SP', 'SS'],
      dtype='object')

In [4]:
players['10_mil'] = 0
players['5_10_mil'] = 0
players['2_5_mil'] = 0 
players['0_2_mil'] = 0 

for i in range(len(players)):
    if players.salary[i] >= 10000000:
        players['10_mil'][i] = 1
    elif 5000000 <= players.salary[i] <= 10000000:
        players['5_10_mil'][i] = 1
    elif 2000000 <= players.salary[i] <= 5000000:
        players['2_5_mil'][i] = 1 
    else: 
        players['0_2_mil'][i] = 1

In [5]:
players

,Unnamed: 0,Name,Normalized_WAR,off,st_pit,rl_pit,team,salary,position,Arizona,...,LF,OF,RF,RP,SP,SS,10_mil,5_10_mil,2_5_mil,0_2_mil
0,0,Trea Turner,6.4,1,0,0,Washington,13000000,SS,0,...,0,0,0,0,0,1,1,0,0,0
1,1,Vladimir Guerrero Jr.,5.8,1,0,0,Toronto,605400,OF,0,...,0,1,0,0,0,0,0,0,0,1
2,2,Bryce Harper,6.6,1,0,0,Philadelphia,27538462,OF,0,...,0,1,0,0,0,0,1,0,0,0
3,3,Marcus Semien,5.5,1,0,0,Toronto,18000000,2B,0,...,0,0,0,0,0,0,1,0,0,0
4,4,Juan Soto,6.1,1,0,0,Washington,8500000,OF,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
639,639,Albert Abreu,-1.0,0,0,1,N.Y. Yankees,575000,RP,0,...,0,0,0,1,0,0,0,0,0,1
640,640,Kyle Keller,-1.1,0,0,1,Pittsburgh,575000,RP,0,...,0,0,0,1,0,0,0,0,0,1
641,641,Bryan Garcia,-1.4,0,0,1,Detroit,576600,RP,0,...,0,0,0,1,0,0,0,0,0,1
642,642,Alex Young,-1.2,0,0,1,Arizona,603000,RP,1,...,0,0,0,1,0,0,0,0,0,1
643,643,Adam Plutko,-1.1,0,0,1,Baltimore,584200,RP,0,...,0,0,0,1,0,0,0,0,0,1

In [6]:
m = gp.Model('Player_selection')

Academic license - for non-commercial use only - expires 2022-09-25
Using license file /Users/youssefragab/gurobi.lic

In [7]:
x = m.addVars(players.index, vtype = GRB.BINARY, name = 'x')

In [8]:
budget = 132000000

In [9]:
# Constraints for number of pitchers 
m.addConstr(sum(x[i] for i in players.index if players.SP[i] == 1) == 5)
m.addConstr(sum(x[i] for i in players.index if players.RP[i] == 1) == 7)

# Contstraint for number of catchers
m.addConstr(sum(x[i] for i in players.index if players['C'][i] == 1) == 2)

# Constraint for number of basemen 
m.addConstr(sum(x[i] for i in players.index if players['1B'][i] == 1) >= 1)
m.addConstr(sum(x[i] for i in players.index if players['2B'][i] == 1) >= 1)
m.addConstr(sum(x[i] for i in players.index if players['3B'][i] == 1) >= 1)
m.addConstr(sum(x[i] for i in players.index if players['SS'][i] == 1) == 3)

# Constraints for number of outfielders
m.addConstr(sum(x[i] for i in players.index if players['LF'][i] == 1) >= 1)
m.addConstr(sum(x[i] for i in players.index if players['CF'][i] == 1) >= 1)
m.addConstr(sum(x[i] for i in players.index if players['RF'][i] == 1) >= 1)

# Constraint for total number of players 
m.addConstr(sum(x[i] for i in players.index) == 25 )

In [10]:
for j in set(list(players.team)):
    m.addConstr(sum(x[i] for i in players.index if players[j][i] == 1) <= 2)

In [11]:
# Constraints for number of players in each price bracket 
m.addConstr(sum(x[i] for i in players.index if players['10_mil'][i] == 1) <= 5)

m.addConstr(sum(x[i] for i in players.index if players['5_10_mil'][i] == 1) <= 4)

m.addConstr(sum(x[i] for i in players.index if players['2_5_mil'][i] == 1) <= 4)

In [12]:
# Total budget constraint 
m.addConstr(sum(x[i] * players.salary[i] for i in players.index) <= budget)

In [13]:
# Setting up objective function
obj = sum(x[i] * players.Normalized_WAR[i] for i in players.index)

In [14]:
m.setObjective(obj, GRB.MAXIMIZE)

In [15]:
m.optimize()

Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (mac64)
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads
Optimize a model with 46 rows, 644 columns and 2771 nonzeros
Model fingerprint: 0x99e68525
Variable types: 0 continuous, 644 integer (644 binary)
Coefficient statistics:
  Matrix range     [1e+00, 4e+07]
  Objective range  [1e-01, 1e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+08]
Found heuristic solution: objective 30.6000000
Presolve removed 0 rows and 14 columns
Presolve time: 0.00s
Presolved: 46 rows, 630 columns, 2282 nonzeros
Found heuristic solution: objective 117.2000000
Variable types: 0 continuous, 630 integer (626 binary)

Root relaxation: objective 1.236119e+02, 64 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  123.61193    0    6  117.20000  123.61193  5.47%     -    0s
H    0     0                     123.5000000  123.61193  0.09%     -    0s

Cutting planes:
  Cover: 1

Explored 1 nodes (64 simplex iterations) in 0.03 seconds
Thread count was 12 (of 12 available processors)

Solution count 3: 123.5 117.2 30.6

Optimal solution found (tolerance 1.00e-04)
Best objective 1.235000000000e+02, best bound 1.235000000000e+02, gap 0.0000%

In [16]:
for v in m.getVars():
    if v.x == 1:
        print('Drafted Player:', players.Name[int(v.varName.replace('x[', '').replace(']', ''))], '     ', players.team[int(v.varName.replace('x[', '').replace(']', ''))])

Drafted Player: Trea Turner       Washington
Drafted Player: Jose Ramirez       Cleveland
Drafted Player: Fernando Tatis Jr.       San Diego
Drafted Player: Carlos Correa       Houston
Drafted Player: Tyler O'Neill       St. Louis
Drafted Player: Brandon Lowe       Tampa Bay
Drafted Player: Will Smith       L.A. Dodgers
Drafted Player: Mike Zunino       Tampa Bay
Drafted Player: Ronald Acuna Jr.       Atlanta
Drafted Player: Adolis Garcia       Texas
Drafted Player: Darin Ruf       San Francisco
Drafted Player: Daulton Varsho       Arizona
Drafted Player: LaMonte Wade Jr.       San Francisco
Drafted Player: Corbin Burnes       Milwaukee
Drafted Player: Zack Wheeler       Philadelphia
Drafted Player: Carlos Rodon       Chic. White Sox
Drafted Player: Jacob deGrom       N.Y. Mets
Drafted Player: Trevor Rogers       Miami
Drafted Player: Luis Garcia       Houston
Drafted Player: Cole Irvin       Oakland
Drafted Player: Huascar Ynoa       Atlanta
Drafted Player: Liam Hendriks       Chic. White Sox
Drafted Player: Josh Hader       Milwaukee
Drafted Player: Jonathan Loaisiga       N.Y. Yankees
Drafted Player: Taylor Rogers       Minnesota

In [17]:
team_list = []
for i in players.index:
    if m.getVars()[i].x == 1:
        team_list.append(players.loc[i, ['Name', 'position', 'team', 'salary', 'Normalized_WAR']])

In [18]:
team_df =pd.DataFrame(team_list)

In [19]:
team_df.to_clipboard()

In [20]:
for i in players.index:
    if m.getVars()[i].x == 1:
        display(players.loc[i, ['Name']])

Name    Trea Turner
Name: 0, dtype: object

Name    Jose Ramirez
Name: 5, dtype: object

Name    Fernando Tatis Jr.
Name: 6, dtype: object

Name    Carlos Correa
Name: 7, dtype: object

Name    Tyler O'Neill
Name: 12, dtype: object

Name    Brandon Lowe
Name: 14, dtype: object

Name    Will Smith
Name: 25, dtype: object

Name    Mike Zunino
Name: 26, dtype: object

Name    Ronald Acuna Jr.
Name: 34, dtype: object

Name    Adolis Garcia
Name: 81, dtype: object

Name    Darin Ruf
Name: 97, dtype: object

Name    Daulton Varsho
Name: 125, dtype: object

Name    LaMonte Wade Jr.
Name: 146, dtype: object

Name    Corbin Burnes
Name: 262, dtype: object

Name    Zack Wheeler
Name: 263, dtype: object

Name    Carlos Rodon
Name: 269, dtype: object

Name    Jacob deGrom
Name: 270, dtype: object

Name    Trevor Rogers
Name: 276, dtype: object

Name    Luis Garcia
Name: 300, dtype: object

Name    Cole Irvin
Name: 323, dtype: object

Name    Huascar Ynoa
Name: 344, dtype: object

Name    Liam Hendriks
Name: 389, dtype: object

Name    Josh Hader
Name: 390, dtype: object

Name    Jonathan Loaisiga
Name: 392, dtype: object

Name    Taylor Rogers
Name: 405, dtype: object

In [21]:
players.loc[10, ['Name', 'position', 'salary', 'team']]

Name        Bryan Reynolds
position                OF
salary              601000
team            Pittsburgh
Name: 10, dtype: object

In [22]:
display(final_df)

NameError: name 'final_df' is not defined

In [ ]:
print(sum(players.salary[i] for i in players.index if m.getVars()[i].x == 1))

In [ ]:
spent = 0
for i in players.index: 
    if m.getVars()[i-1].x == 1:
        spent += players.salary[i]

print(f'Salary used: {spent}')

In [ ]:
m.display()